
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<p>Should you need to contact us please write your question below:</p>

<form method="post" action="/Support/Contact">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="query"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    
    <div style="margin-top:5px;">
        @if (ViewData["feedback"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @ViewData["feedback"]
            </div>
        }
    </div>
  
</form>