


<form class="row g-3" method="post" action="/Products/Search">
    <div class="col-auto">
        <label   >Search:</label>
    </div>
    <div class="col-auto">
        <input type="text" class="form-control" id="txtSearch" placeholder="Type keyword here"  name="keyword" >
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>